name: flutter_pda_scanner
description: This is a scanning plug-in for PDA to listen the scanned events and get scanning results.
version: 1.0.5
homepage: https://github.com/uupy/pda_scanner

environment:
  sdk: ">=2.15.1 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.uupy.flutter_pda_scanner
        pluginClass: PdaScannerPlugin
